<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Perspective Dashboard</title>
    </head>
    <body>
        <form method="get">
            <label for="popgreaterthan">Show countries with population greater than:</label>
            <input type="number" name="popgreaterthan" value="50000">
            <input type="submit">
            <br>
        </form>
        <h1>Country Data</h1>
        <table class="blueTable">
            <tbody>
            {% for row_index in countryData.keys() %}
            <tr>
            <td>{{ row_index }}</td>
            <td>{{ countryData[row_index]['name'] }}</td>
            <td>{{ "{:,}".format(countryData[row_index]['population']) }}</td>
            <td>{{ "{:,}".format(countryData[row_index]['confirmed_cases']) }}</td>
            <td>{{ countryData[row_index]['percent_cases'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>